

{% comment %} <nav class="navbar custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> {% endcomment %}

<nav class="navbar custom-navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold animate__animated animate__flip" href="{% url 'home' %}">TalentBridge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-semibold" aria-current="page" href="{% url 'about-us' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="{% url 'how-it-works' %}">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="{% url 'skill-marketplace' %}">Skill Marketplace</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right side (User) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu dropdown-menu-end" style="background : linear-gradient(360deg, #A0D8EF, #EBF400);">
            <li>
              <a class="dropdown-item " href="{% url 'users:registration' %}">Register</a>
            </li>
            <li><a class="dropdown-item " href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item " href="#">Logout</a></li>
          </ul>
        </li> 
      </ul>
      {% comment %} <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>

