{% extends "myapp/layout/layout.html" %}

{% block content %}

<div class="min-vh-100 d-flex align-items-center justify-content-center m-5" >
    <div class="col-md-5 col-lg-4 p-4 rounded-4 shadow-lg featuredSectioncard1" style="background-color:#1a1a1a" >

        {% comment %} <h2 class="text-center mb-4 fw-bold" style="color: #EA2264;">Finance Tracker</h2> {% endcomment %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3 row">
                <label for="username" class="form-label regFormInput fw-semibold col-sm-3" required>Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control gradient-input text-light" id="username" name="username" placeholder="e.g. Joey, Monica etc." >
                </div>
            </div>

            <div class="mb-3 row">
                <label for="password1" class="form-label regFormInput fw-semibold col-sm-3">Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control gradient-input text-light" id="password1" name="password1">
                </div>
            </div>

            

            <div class="text-center">
                <button type="submit" class="btn-outline-warning fw-semibold px-5 py-2 form-control w-auto d-inline-block">Sign Up</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p style="color:#fff;">Already have an account? <a href="#" class="text-decoration-none" style="color:#A0D8EF">Sign In</a></p>
        </div>
    </div>
</div>

{% endblock content %}