<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalentBridge - connecting skills across people</title>
    <style>
        body{

            background:black;
        }
        h1,p{
            color: #EBF400;
            {% comment %} color: #00FFDE; {% endcomment %}
        }
    </style>

</head>
<body>
    <h1>Exchange Time, Not Money</h1>
    <p>Unlock knowledge by sharing your own. Teach, learn & grow</p>
</body>
</html>