{% extends "myapp/layout/layout.html" %}
{% load static %}
{% block content %}

<div class="upperBody">
<h1>Exchange Time, Not Money</h1>

<p>Unlock knowledge by sharing your own. Teach, learn, & grow together.</p>

<button>Join now</button>
<button>Browse skills</button>
</div>

<div class="howitWorks">
  <div class="HeadOfWorking">
    <h1>How It Works?</h1>
    <p>Swap your knowledge for new experiences in just 3 simple steps.</p>
  </div>
  <div class = "workingboxes">
    <h3>Sign Up & Get Credits</h3>
  </div>
  <div class = "workingboxes">
    <h3>Offer a Skill</h3>
  </div>
  <div class = "workingboxes">
    <h3>Learn New Skills</h3>
  </div>
</div>

{% endblock content %}