{% extends "myapp/layout/layout.html" %}
{% load static %}
{% block content %}

<div class="upperBody">
    <h1>Exchange Time, Not Money</h1>

    <p>Unlock knowledge by sharing your own. Teach, learn, & grow together.</p>

    <button>Join now</button>
    <button>Browse skills</button>
</div>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>
    <div class="carousel-item">
              <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    <div class="carousel-item">
              <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100">
                <img src="{% static 'images/p4.jpg' %}" class="card-img-top" alt="..." >
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}