body{
    background-color: black;
}

h1, h2, h3 {
  color: #EBF400;
  font-family: 'Montserrat', sans-serif;
}

p {
   color: #A0D8EF;
  font-family: 'Open Sans', sans-serif;
}
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.custom-navbar {
    /* background-color: #EBF400 !important; */
    background: linear-gradient(90deg, #A0D8EF, #EBF400);
    padding: 10px;
}

.upperBody{
    text-align: center;
    margin: 100px auto;
    width: fit-content;
}
.upperBody h1{
    color: #EBF400;
    margin: 10px 0;
}
.upperBody p{
    color: #A0D8EF;
}
.upperBody button{
    margin: 5px;
    padding: 10px 20px;
    color: black;
    background : linear-gradient(90deg, #A0D8EF, #EBF400);
    border-radius: 8px;
    cursor: pointer;
}
.upperBody button:hover{
  transform: scale(1.05); 
}

/* .card-img-top{
  border-radius: 5px;
} */

.workingHeadings{
  color: #b9cdd5;
}
.howitWorks{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.workingbox1,
.workingbox3,
.workingbox2 {
  width: 45%;
  align-self: flex-end;
  box-sizing: border-box;
  text-align: center;
  border-radius: 12px;
  background: linear-gradient(#000, #000) padding-box,
                linear-gradient(45deg, #A0D8EF, #EBF400) border-box;
  border: 2px solid transparent;

  color: #fff; /* text color */
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
} 
.workingbox1:hover,
.workingbox2:hover,
.workingbox3:hover {
 transform: scale(1.05); 
}

.workingbox1:hover h3,
.workingbox2:hover h3,
.workingbox3:hover h3 {
  color: #EBF400; /* text color changes on hover */
  text-shadow: 0 0 5px #A0D8EF, 0 0 10px #EBF400; /* neon glow */
}

.workingbox2{
  align-self: flex-start;
  
}

.workingParas{
  padding: 10px;
  color: #fff;
}
.workingImage{
  padding: 10px;
  width: 20%;
  height: 10%;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.workingImage:hover{
  transform: scale(1.2) rotate(7deg);  /* slightly enlarge and rotate */
  filter: drop-shadow(0 0 5px #A0D8EF) drop-shadow(0 0 5px #EBF400); /* neon glow */
}
.workingButtons{
  margin-bottom: 10px;
  padding: 7px;
  color: black;
  border-radius: 25px;
  background : linear-gradient(90deg, #A0D8EF, #EBF400);
  cursor: pointer;    
}
.workingButtons:hover{
  transform: scale(1.05); 
  text-shadow: 0 0 5px #A0D8EF, 0 0 10px #EBF400;
}


.featuredSectioncard1:hover,
.featuredSectioncard2:hover,
.featuredSectioncard3:hover,
.featuredSectioncard4:hover
{
   transform: scale(1.08);
      background-color: #1a1a1a;
      box-shadow: 0 0 25px #EBF40088;
      border-color: #EBF400;
}