body{
    background-color: black;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.custom-navbar {
    /* background-color: #EBF400 !important; */
    background: linear-gradient(90deg, #A0D8EF, #EBF400);
    padding: 10px;
}

.upperBody{
    text-align: center;
    margin: 100px auto;
    width: fit-content;
}
.upperBody h1, p{
    color: #EBF400;
    margin: 10px 0;
}
.upperBody p{
    color: #A0D8EF;
}
.upperBody button{
    margin: 5px;
    padding: 10px 20px;
    color: black;
    background : linear-gradient(90deg, #A0D8EF, #EBF400);
    border-radius: 5px;
    cursor: pointer;
}

/* .card-img-top{
  border-radius: 5px;
} */

.workingSection{
  width: 80%;
  align-items: center;
  border: 5px solid #A0D8EF
}